.footer{
    padding: 72px 0;
    background: $background;

    &__container{
        display: flex;
        justify-content: space-between;
    }

    &__left{
        display: flex;
        flex-direction: column;
        gap: 43px;
    }

    &__list{
        display: flex;
        align-items: center;
        gap: 33px;

        &-link{
            color: #FFF;
            font-size: 20px;
            border-bottom: 1.5px solid transparent;
            transition: all 0.5s;
            padding-bottom: 5px;

            &:hover{
                border-bottom: 1.5px solid #ffff;
            }
        }
    }

    &__socials{
        display: flex;
        gap: 21px;
    }

    &__right{
        display: flex;
        align-items: start;
        flex-direction: column;

        &-title{
            font-size: 20px;
            margin-bottom: 10px;
        }

        img{
            margin-top: 72px;
            width: 189px;
            height: 60px;
        }
    }

    form{
        display: flex;
    }
    &__btn{
        @include main-btn();
        margin-left: -20px;
    }

    &__input{
        max-width: 320px;
        width: 100%;
        border: none;
        border-radius: 7px;
        padding: 12px 24px;
        outline: none;
        background: #FFF;
        color: #736D6D;
        font-size: 15px;
        line-height: 158.5%;
    }
}

@media only screen and (max-width:1000px){
    .footer{


        &__list{
            flex-direction: column;
            align-items: start;
        }
    }
}

@media only screen and (max-width:640px){
    .footer{
        padding-top: 32px;
        padding-bottom: 44px;

        &__container{
            flex-direction: column;
            gap: 20px;
        }

        &__right{
            img{
                margin-top: 20px;
            }
        }

        &__input{
            width: 600px;
        }
    }
}